:root {
    color-scheme: light;

    --md-sys-color-primary: var(--md-ref-palette-primary40);
    --md-sys-color-on-primary: var(--md-ref-palette-primary100);
    --md-sys-color-primary-container: var(--md-ref-palette-primary90);
    --md-sys-color-on-primary-container: var(--md-ref-palette-primary10);

    --md-sys-color-secondary: var(--md-ref-palette-secondary40);
    --md-sys-color-on-secondary: var(--md-ref-palette-secondary100);
    --md-sys-color-secondary-container: var(--md-ref-palette-secondary95);
    --md-sys-color-on-secondary-container: var(--md-ref-palette-secondary10);

    --md-sys-color-tertiary: var(--md-ref-palette-tertiary60);
    --md-sys-color-on-tertiary: var(--md-ref-palette-tertiary100);
    --md-sys-color-tertiary-container: var(--md-ref-palette-tertiary95);
    --md-sys-color-on-tertiary-container: var(--md-ref-palette-tertiary20);

    --md-sys-color-error: var(--md-ref-palette-error40);
    --md-sys-color-on-error: var(--md-ref-palette-error100);
    --md-sys-color-error-container: var(--md-ref-palette-error90);
    --md-sys-color-on-error-container: var(--md-ref-palette-error10);

    --md-sys-color-background: var(--md-ref-palette-neutral99);
    --md-sys-color-on-background: var(--md-ref-palette-secondary30);

    --md-sys-color-surface: var(--md-ref-palette-neutral100);
    --md-sys-color-on-surface: var(--md-ref-palette-secondary30);
    --md-sys-color-surface-variant: var(--md-ref-palette-neutral-variant95);
    --md-sys-color-on-surface-variant: var(--md-ref-palette-neutral-variant30);

    --md-sys-color-outline: var(--md-ref-palette-neutral-variant60);
    --md-sys-color-outline-variant: var(--md-ref-palette-neutral-variant80);
    --md-sys-color-shadow: rgba(0, 0, 0, 0.25);

    --md-sys-color-inverse-surface: var(--md-ref-palette-secondary30);
    --md-sys-color-inverse-on-surface: var(--md-ref-palette-neutral95);
    --md-sys-color-on-inverse-surface: var(--md-ref-palette-neutral95);
    --md-sys-color-inverse-primary: var(--md-ref-palette-primary80);

    --md-sys-color-surface-tint: var(--md-sys-color-primary);
    --md-sys-color-surface-tint-color: var(--md-sys-color-primary);
}
